* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1 {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 200 !important;
  text-align: center;
  font-size: 48px;
}

p {
  font-size: 16px;
}

/*Waves*/
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }
}
/*Other*/
.unique-color-dark {
  background-color: #FF7F3F !important;
}

.bg-light {
  background-color: #FF7F3F !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #FF7F3F !important;
}

#home-page {
  text-align: center;
  position: relative;
  height: 975px;
  color: white;
  background-image: url("/assets/img/photo-home.jpg");
  background-size: cover;
}
#home-page h1 {
  position: relative;
  top: 30%;
  bottom: 30%;
  font-size: 96px;
}
#home-page .button {
  color: white;
  position: relative;
  top: 32%;
  background-color: #3EA104;
  width: 160px;
  height: 50px;
}
#home-page .down {
  text-align: center;
  position: relative;
  width: 100px;
  height: 75px;
  display: block;
  top: 35%;
  left: 40%;
}
#home-page .navbar-brand {
  margin-left: 40%;
  font-size: 48px;
  color: white;
}

#home-page::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.65;
  background-color: #FF7F3F;
}

#courses {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#courses .card {
  position: relative;
  margin-bottom: 50px;
}
#courses .card h5 {
  font-size: 24px;
}
#courses .card div {
  position: relative;
}
#courses .card .btn {
  background-color: #FF7F3F;
  color: white;
}
#courses .card .card-img-top {
  width: 287px;
  height: 157px;
  background-size: cover;
}
#courses .card .card-img-top::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #FF7F3F;
  opacity: 0.45;
}
#courses .card #first-image {
  background-image: url("/assets/img/html-css.jpg");
}
#courses .card #second-image {
  background-image: url("/assets/img/js-basics.jpg");
}

#teacher {
  text-align: center;
  padding: 50px;
}
#teacher .teacher-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline-style: solid;
  outline-color: #FF7F3F;
  outline-width: 5px;
}

#form {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#form input {
  border: solid 2px;
  border-color: #FF7F3F;
  border-radius: 10px;
}
#form .btn {
  background-color: #FF7F3F;
  color: white;
}
#form a {
  color: #FF7F3F;
}

#navbar .navbar {
  background-color: #FF7F3F !important;
}

#faq {
  margin-top: 75px;
}

#html-css .video {
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .container {
    padding: 1.5% 7.5%;
  }

  #homepage {
    text-align: center;
  }

  .down {
    margin-left: 140px;
  }

  #courses {
    margin-top: -100px;
  }

  .cards {
    display: flex;
    flex-direction: row;
  }

  .card {
    margin: 10px 200px;
  }

  .teacher-img {
    margin-bottom: 20px;
  }

  .teacher-p {
    padding: 0 500px;
  }

  .form {
    width: 300px;
    height: 25px;
  }

  .container {
    padding: 0.5% 7.5%;
  }

  .items {
    position: relative;
    left: 210px;
  }
}

/*# sourceMappingURL=styles.css.map */
