@use 'variables';
// UNIVERSAL SELECTOR
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
// TAG SELECTOR
body{
    overflow-x: hidden;
}
h1{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 200 !important;
    text-align: center;
    font-size: 48px;
}
p{
    font-size: 16px
}
//FOOTER
/*Waves*/

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  /* Animation */
  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }
  
  /*Other*/
  
  .unique-color-dark {
    background-color: variables.$primary-color !important;
  }
  
  .bg-light {
    background-color: variables.$primary-color !important;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .custom-color {
    background-color: variables.$primary-color !important
  }
//WELCOME PAGE
// HOME PAGE 
.navbar-h1{
    position: relative;
    top: 20% !important
}
#home-page{
    text-align: center;
    position: relative;
    height: 975px  ;
    color:white;
    background-image: url("/assets/img/photo-home.jpg");
    background-size: cover;
    h1{
        position: relative;
        top: 30%;
        bottom: 30%;
        font-size: 96px;
    }
    .button{
        color: white;
        position: relative;
        top: 32%;
        background-color:#3EA104;
        width: 160px;
        height: 50px;
   

    }
    .down{
        text-align: center;
        position: relative;
        width: 100px;
        height: 75px;
        display:block;
        top: 35%;
        left:40%
    }
 
        .navbar-brand{
            margin-left: 25%;
            font-size: 48px;
            color:white
        }
}
#home-page::before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    background-color:variables.$primary-color;
}
//COURSES PAGE
.courses{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .card{
        position: relative;
        margin-bottom: 50px;
        width: 400px;
        h5{
            font-size: 24px;
        }
        div{
            position: relative;
        }
        .btn{
            background-color: variables.$primary-color;
            color: white
        };
        .card-img-top{
            width: 399px;
            height: 300px;
            background-size: cover;
        }
        .card-img-top::before{
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: variables.$primary-color;
            opacity: 0.45
        }
        #first-image{
            background-image: url('/assets/img/html-css.jpg');
        }
        #second-image{
            background-image: url('/assets/img/js-basics.jpg');
        }
    }
}
//TEACHER
#teacher{
    text-align: center;
    padding: 50px;
    .teacher-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        outline-style: solid;
        outline-color: variables.$primary-color;
        outline-width: 5px;
    }
}
//FORM
#form{
    text-align: center;
    display: flex;
    flex-direction: column;
    input{
        border: solid 2px;
        border-color: variables.$primary-color;
        border-radius: 10px;
    }
    .btn{
        background-color: variables.$primary-color;
        color: white;
    }
    a{
        color:variables.$primary-color 
    }
    
    
}
//MEMBERSHIP PAGE
#navbar{
    .navbar{
        background-color: variables.$primary-color !important;
   
    }
}
//FAQ PAGE
#faq{
    margin-top:75px;
    margin-bottom: 75px;

}
//HTML & CSS PAGE
#html-css{
    .video{
        width: 100%;
        
    }
}
.login{
    margin-top: 300px;
}
.alert{
    margin-left:38%;
    width: 450px;
    
}
#explanation{
    margin-top: 20px;
    text-align: center;
    p{
        padding: 25px
    }
}
#showcase{
    margin-top: 50px;
    text-align: center;
   
    .card{
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        .icon{
            width: 32px;
            height: 32px;
            color:variables.$primary-color
        }
    }
}
#people{
    margin-top:50px;
   .carousel-item{
       height: 500px;
       text-align: center;
       padding: 50px;
       .carousel-img{
           border-radius:50% ;
           border: 5px solid variables.$primary-color; 
           margin-bottom:20px
       }
   }
    .icon{
        width: 32px;
        height: 32px;
        color:variables.$primary-color
    }
}
#modules{
    text-align: center;
    margin-top: 20px;
    h1{
        padding:20px
    }
    .accordion{
        .accordion-button{
            background-color: variables.$primary-color;
            color:white ; 
        }
        .accordion-button:focus{
            border-color: variables.$primary-color !important;
            box-shadow: 0 0 0 0.25rem rgb(255 127 63 / 25%);

        }

    }
}
#cta{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    .button{
        background-color: variables.$primary-color;
        border: none;
        width: 300px;
        height: 50px;
        text-align: center;
    }
}
// PC
@media only screen and (min-width:961px){
    .container{
        padding: 1.5% 7.5% ;
    }
    #homepage{
        text-align: center;
    }
    .down{
        margin-left: 140px
    }
    #courses{
        margin-top: -100px;
    }
    .cards{
        display: flex;
        flex-direction: row;
    }
    .card{
        margin:0px 200px;
        width: 600px !important;
    }
   .card-img-top{
       width: 599px !important; 
   }
    .teacher-img{
        margin-bottom: 20px;
    }
    .teacher-p{
        padding:0 500px
    }
    .form{
        width: 300px;
        height:25px
    }
    .user-name{
        
    }
    .container{
        padding: .5% 7.5%
    }
    .items{
        position: relative;
        left: 210px
    }
    .accordion{
        margin-left:31%
    }
    .accordion-item{
        width:700px
    }
};
